@view-transition {
  navigation: auto;
}

@media (prefers-reduced-motion: reduce) {
  ::view-transition-group(*) {
    animation-name: none;
  }
}

::view-transition-group(root) {
  animation-duration: 0.5s;
}
