---
import Layout from "../layouts/Layout.astro";
import Hero from "@components/home/Hero.astro";
---

<Layout title="Ray Feng - Home">
    <div class="text-white z-10">
        <h1>CONTAT</h1>
        <p>yoyoyoyo</p>
    </div>
</Layout>
