---
import LogoWall from "@components/LogoWall.astro";
---

<section id="services" class="text-[var(--primary)]">
  <div class="max-w-5xl mx-auto space-y-8 md:py-36 pb-14">
    <h2 class="text-3xl md:text-4xl">What I do</h2>
    <LogoWall />
  </div>
</section>
